{% extends 'study_buddy/base.html' %}
{% block content %}
{% load socialaccount %} {% load static %}

<html>
  <head>
    <title>Course</title>
  </head>
  <body>
    {% if course.exists %}
    <h1>List of students taking {{ course.first.prefix }} {{ course.first.number }}</h1>
    {% endif %}
    {% if not course.exists %}
    <h3>There are no other students taking {{ course.first.prefix }} {{ course.first.number }}.</h3>
    {% endif %}
    {% for c in course %}
    {% ifnotequal c.student.id student.id %}
    <div class="card" style="margin-top:15px; margin-bottom:15px;">
        <div class="card-body">
            <h3>{{ c.student }}</h3>
            <p>Class of {{ c.student.graduationYear }}</p>
            <p>{{ c.student.bio }}</p>
        </div>
    </div>
    {% endifnotequal %}
    {% endfor %}

  
    {% if study_groups.exists %}
    <h1>List of study groups:</h1>
    {% endif %}
    {% if not study_groups.exists %}
    <h3>There are no study groups for this course.</h3>
    {% endif %}
    {% for s in study_groups %}
    {% if student_object not in s.students.all %}
      {% if s.owner.id is not None %}
        <div class="card" style="margin-top:15px; margin-bottom:15px;">
            <div class="card-body">
                <h3>{{ s.studentCourse }}</h3>
                <p>Group: {{ s.groupName }}</p>
                <p>Owner: {{ s.owner }}</p>
                <a href="{% url 'study_buddy:create_notif' s.owner.id student_object.id s.id 'Request'%}"><p>Request to Join this Group</p></a>
            </div>
        </div>
      {% endif %}
    {% endif %}
    {% if student_object in s.students.all %}
    <div class="card" style="margin-top:15px; margin-bottom:15px;">
        <div class="card-body">
            <h3>{{ s.studentCourse }}</h3>
            <p>Group: {{ s.groupName }}</p>
            <p>Owner: {{ s.owner }}</p>
            <p>You are already in this group!</p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    <a href="{% url 'study_buddy:create_group' %}" class="btn btn-primary active" style="margin-top:15px; margin-bottom:15px;"><h4>Create New Study Group</h4></a>
      
    </div>
  </body>
  
</html>

{% endblock %}