{% extends 'study_buddy/base.html' %}
{% block content %}
{% load socialaccount %} {% load static %}

<html>
  <head>
    <title>Groups</title>
  </head>
  <body>
    <a href="{% url 'study_buddy:create_group' %}" class="btn btn-primary active" style="margin-top:15px; margin-bottom:15px;"><h4>Create New Study Group</h4></a>
    {% if study_groups.exists %}
    <h1>My Groups</h1>
    {% endif %}
    {% if not study_groups.exists %}
    <h3>You don't have any study groups.</h3>
    {% endif %}
    {% for s in study_groups %}
    <div class="card" style="margin-top:15px; margin-bottom:15px;">
        <div class="card-body">
            <a href="{% url 'study_buddy:group_info' s.id %}" class="btn"><h3>{{ s.studentCourse }}</h3></a>
            <p>Group: {{ s.groupName }}</p>
            <p>Owner: {{ s.owner }}</p>
            <a href="{% url 'study_buddy:leave_group' s.id%}"><p>Leave this Group</p></a>
        </div>
    </div>
    {% endfor %}
  </body>
  
</html>

{% endblock %}