{% extends 'study_buddy/base.html' %}
{% block content %}
{% load socialaccount %}
<html>
  <head>
    <title>Google Registration</title>
  </head>
  <body>
    <div class="card" style="margin-top:15px; margin-bottom:15px;">
      <div class="card-header">
    <h1><b>Study Buddy Finder</b></h1>
  </div>
  <br/>
    {% if user.is_authenticated %}
    <h2>Welcome, {{ user.username }}!</h2>
    <br/>
    <div class="card text-center hover">
        <div class="card-body">
            <a href="{% url 'study_buddy:profile' %}"><h3>View Profile</h3></a>
        </div>
      </div>
      <br/>
      <div class="card text-center hover">
        <div class="card-body">
            <a href="{% url 'study_buddy:update_courses' %}"><h3>Add Courses</h3></a>
        </div>
      </div>
      <br/>
      <div class="card text-center hover">
        <div class="card-body">
            <a href="{% url 'study_buddy:group_page' %}"><h3>My Groups</h3></a>
        </div>
      </div>
      <br/>
      {% if notifications.count > 0 %}
        <h3>Notifications</h3>
          {% for n in notifications %}
            <div class="card" style="margin-top:15px; margin-bottom:15px;">
              <div class="card-body">
                <h6>{{n.title}}<a href="{% url 'study_buddy:show_notif' n.id%}" class="btn btn-outline-primary float-right">View</a></h6>
              </div>
            </div>
          {% endfor %}
      {% endif %}
    {% else %}
    <a href="{% provider_login_url 'google' %}"><h2>Login with Google</h2></a>
    {% endif %}
    <br/>
    This Study Buddy web application was created by Grace Brickley, Ruthvik Gajjala, and Jason Yu.
  </div>          
    

  </body>
</html>

{% endblock %}
